{% load static %}

<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8"/>
        <meta name = "viewport content" width='device-width', initial="scale=1.0" />
        <title>{% block title %}HMS{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'booking_system/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        {% if user.role == 'doctor' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'create_slots' %}">Create Slots</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container-fluid mb-3">
            {% if messages %}
            <hr>
                {% for message in messages %}
                <div class="container-flex alert" style="background-color: lightgray;">
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
            <div class="container-fluid mb-3">
                {% block content %} {% endblock %}
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous" defer></script>
        <script src="{% static 'booking_system/script.js' %}" defer></script>
    </body>
</html>